.advanced_settings_wrapper{
    font-family: sans-serif;
    min-height: 100vh;
}
.advanced_settings_wrapper h2{
    text-align: center;
    margin-bottom: 35px;
}
.width_auto{
    flex: 0 0 100px;
}
.btn{
    transition: .3s;
}
.one_settings_block{
    padding: 25px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-right: 25px;
    box-shadow: 0px 0px 42px -12px rgba(0,0,0,0.75);
    margin-bottom: 20px;
}
.settings_block{
    height: 0;
    overflow: hidden;
    transition: .5s;
    padding-right: 15px;
}
#acf-language_mod{
    display: none;
}
.contact-form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact-form input{
    height: auto;
    padding: 10px;
    margin: 10px;
    margin-top: 0;
    border-radius: 5px;
    width: 100%;
}
.contact-form .elem{
    flex: 0 0 49%;
}
.contact-form .elem label{
    padding-left: 15px;
}
.for_save_btn_padding{
    padding-top: 20px;
}
.settings_block_title{
    padding-left: 10px;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 2px;
    position: relative;
    cursor: pointer;
}
.settings_block_title:after{
    content: '\203A';
    position: absolute;
    right: 58%;
    transition: .5s;
}
.margin_right_top{
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 15px;
}
.settings_block_title.active:after{
    transform: rotate(90deg);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.settings_block.active.small{
    height: 275px;
    margin-top: 30px;
}
.settings_block.active.smaller{
    height: 145px;
    margin-top: 30px;
}