body {
    background-image: url("../img/body-bg.jpg");
    font-family: sans-serif;
    background-repeat: repeat;
    background-size: contain;
}

.no_padding {
    padding: 0;
}

.light_blue_background {
    background-color: rgba(4, 143, 150, .7);
}

.blue_background {
    background-color: rgba(37, 131, 139, .7);
}

header {
    font-family: "Calibri";
}

header .language_switcher {
    text-align: center;
}

header .language_switcher ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

header .language_switcher ul li {
    display: inline-block;
}

header .language_switcher ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.24);
    padding: 5px 10px;
    background-color: transparent;
    transition: .3s;
}

header .language_switcher ul li a:hover {
    background-color: rgba(35, 115, 123, .7);
}

header .header_menu_top {
    text-align: center;
}

header .header_menu_top a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.24);
    padding: 5px 25px;
    background-color: transparent;
    transition: .3s;
    text-transform: uppercase;
}

header .header_menu_top a:hover {
    background-color: rgba(35, 115, 123, .7);
}
.social_links {
    text-align: center;
    padding: 5px;
}
.social_links a {
    text-decoration: none;
    padding: 7px 2px;
    text-align: center;
}
.social_links a i {
    color: transparent;
    background-color: #fff;
    border-radius: 50%;
    color: #46969d;
    margin: 0 10px;
}

.social_links a:hover {
    background-color: rgba(35, 115, 123, .7);
}

.social_links a i.fa-twitter {
    padding: 3px;
}

.social_links a i.fa-facebook-f {
    padding: 3px 7px;
}

.social_links a i.fa-linkedin-in {
    padding: 3px 4px;
}

.border_left_right {
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    box-shadow: 0px 0px 42px -12px rgba(0, 0, 0, 0.75);
}

.logo_wrap {
    padding: 25px;
    display: flex;
    align-items: center;
}

.logo_wrap img {
    width: 146px;
}

.logo_wrap .logo_text {
    margin-left: 25px;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    color: rgb(133, 8, 8);
    font-weight: bold;
}

header .main_menu_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .main_menu_wrap a {
    padding: 15px 0px;
    display: block;
    flex: 0 0 25%;
    text-align: center;
    font-family: "Calibri";
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.55);
    text-decoration: none;
    transition: .3s;
    border-right: 1px solid #23868a;
}

header .main_menu_wrap a:first-child {
    border-left: 1px solid #23868a;
}

header .main_menu_wrap a:hover {
    background-color: rgba(35, 115, 123, .7);
}

header .contacts_top_wrap {
    text-align: right;
}

header .contacts_top_wrap .tel {
    position: relative;
    padding: 50px;
    padding-bottom: 15px;
}

header .contacts_top_wrap .tel i.fa-phone {
    transform: rotateZ(90deg);
    color: #24828a;
    font-size: 30px;
    position: absolute;
    left: 20%;
    top: 50%;
}

header .contacts_top_wrap .tel a {
    font-family: "Calibri";
    color: rgb(0, 67, 79);
    display: block;
    font-size: 20px;
    text-decoration: none;
}

header .contacts_top_wrap .mail {
    padding-right: 50px;
    padding-left: 50px;
    position: relative;
}

header .contacts_top_wrap .mail a {
    font-family: "Calibri";
    color: rgb(0, 67, 79);
    display: block;
    font-size: 19px;
    text-decoration: none;
}

header .contacts_top_wrap .mail img {
    position: absolute;
    left: 0;
    top: 5px;
}

.fagsfacf-gallery-slider .slick-dots, .fagsfacf-gallery-carousel .slick-dots {
    padding: 15px 0px 0px !important;
    margin-left: 0 !important;
    text-align: center !important;
    position: inherit !important;
    width: 100%;
    bottom: 0 !important;
}

.page_contakt_tit {
    text-align: center;
    padding: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    color: rgb(0, 67, 79);
    font-weight: bold;
}

.contakts_info_wrap {
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

.contakt_margin_left_right {
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    font-size: 20px;
    font-family: "Calibri";
    color: rgb(66, 67, 67);
    line-height: 1.3;
}

.contakt_margin_left_right:first-child .image {
    top: 30%;
}

.contakt_margin_left_right .image {
    position: absolute;
    left: -40px;
    top: 24%;
    color: #24828a;
    font-size: 20px;
}

i.fa-phone {
    transform: rotateZ(90deg);
}

.slider_home {
    padding-top: 10px;
}

.home_image_post {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 110px;
}

.footer_wrapp {
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
}

.footer-logo {
    position: relative;
}

.footer-logo img {
    width: 20%;
    position: absolute;
    left: 100px;
    top: -25px;
    z-index: 21;
}

.footer-address {
    font-family: "Calibri";
    color: rgb(255, 255, 255);
    line-height: 1.059;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.24);
}

.footer-links a {
    display: inline-block;
    /*text-decoration: none;*/
    font-family: "Calibri";
    color: rgb(255, 255, 255);
    transition: .5s;
    text-transform: uppercase;
    margin: 0 20px;
}

.footer-links a:hover {
    /*border-bottom: 1px solid #fff;*/
}

.copyright {
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-family: "Calibri";
}

.dark_blue_background {
    background-color: #24828a;
    opacity: .9;
    padding: 4px;
}
.video_wrapper{
    margin-bottom: 35px;
}

.fagsfacf-gallery-slider .slick-dots li, .fagsfacf-gallery-carousel .slick-dots li {
    width: 15px !important;
    height: 15px !important;
    margin: 0 5px !important;
}
.blog_image_post iframe{
    height: 160px;
}

.fagsfacf-gallery-slider .slick-dots li button, .fagsfacf-gallery-carousel .slick-dots li button {
    width: 15px !important;
    height: 15px !important;
    background-color: #06c3c6 !important;
    border: 1px solid #06c3c6 !important;
}

.fagsfacf-gallery-slider .slick-dots li.slick-active button, .fagsfacf-gallery-carousel .slick-dots li.slick-active button {
    background-color: #00434f !important;
    border: 1px solid #00434f !important;
}
.center{
    text-align: center;
}

.one_new_wrap {
    padding: 35px 0;
}
.post_home a{
    font-family: "Calibri";
    color: rgb(66, 67, 67);
    text-decoration: none;
}
.post_home .col-md-6:first-child .one_new_wrap {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 34px;
}

.title_blog {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    color: rgb(0, 67, 79);
    padding: 55px 0;
    text-align: center;
}
.home_image_post iframe{
    height: 110px;
}

.blog_title_post {
    padding: 20px 0 50px;
    font-size: 18px;
    font-family: "Calibri";
    color: rgb(66, 67, 67);
    font-weight: bold;
    text-align: center;
    height: 130px;
}

.blog_image_post {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 160px;
}
.one_partner .blog_image_post{
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}

.archive_pagination_wrapper a {
    border-radius: 100%;
    color: #00434f;
    background: #e8f2f1;
    display: inline-block;
    line-height: 35px;
    width: 35px;
    height: 35px;
    margin-right: 15px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

.archive_pagination_wrapper {
    text-align: center;
    padding-bottom: 65px;
}

.archive_pagination_wrapper .page-numbers.current {
    border-radius: 100%;
    color: #e8f2f1;
    background-color: #00434f;
    text-align: center;

    display: inline-block;
    line-height: 35px;
    width: 35px;
    height: 35px;
    margin-right: 15px;
    font-size: 18px;
}

.posts_pagination {
    text-align: center;
    padding-bottom: 65px;
}

.post_home .col-md-6:nth-child(4n-2) .one_new_wrap {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 34px;
}

.one_new_wrap .left_padding_one_new {
    padding-left: 25px;
}

.one_new_wrap .one_new_date {
    font-size: 15px;
    font-family: "Calibri";
    color: rgb(119, 121, 121);
    margin-bottom: 10px;
}

.one_new_wrap .one_new_title {
    font-size: 16px;
    font-family: "Calibri";
    color: rgb(66, 67, 67);
    font-weight: bold;
}

.one_new_wrap .one_new_content {
    font-family: "Calibri";
    color: rgb(66, 67, 67);
    font-size: 14px;
}

.Under_the_circumstances_of_global_international {
    font-size: 18px;

    line-height: 1;
    text-align: left;
    position: absolute;
    left: 586px;
    top: 938.313px;
    width: 331px;
    height: 51px;
    z-index: 18;
}

.archive_navigation_wrapper li {
    list-style-type: none;
}

.archive_navigation_wrapper li a {
    display: block;
    font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    padding: 14px 0 10px;
    text-decoration: none;
    transition: .3s;
    color: rgb(0, 67, 79);
}

.prev.page-numbers {
    display: none;
}

.next.page-numbers {
    display: none;
}

a.pag.active {
    background: #00434f;
    color: #e8f2f1;
}

a.pag {
    border-radius: 100%;
    color: #00434f;
    background: #e8f2f1;
    display: inline-block;
    line-height: 35px;
    width: 35px;
    height: 35px;
    margin-right: 15px;
    font-size: 18px;
}

a.pag:hover {
    text-decoration: none;
}

.single-post-img {
    float: left;
    margin: 15px;
}

.single-content {
    margin-bottom: 55px;
}

.single-content {
    margin-bottom: 55px;
}

.content_privacy_policy {
    padding-bottom: 65px;
}

.logo_wrap a {
    text-decoration: none;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.image-gallery li {
    padding: 10px !important;
}

.gallery_wrapp {
    padding-bottom: 65px;
}

.image-gallery a img {
    width: 245px;
    height: 245px;
}

.social_links .fa-facebook-f {
    margin-left: 13px;
}

.social_links .fa-twitter {
    margin-left: 13px;

}

.one_partner {
    margin-bottom: 25px;
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(4, 143, 150, .7);
}
.one_partner:last-child{
    border: none;
}

.one_partner:last-child {
    margin-bottom: 0;
}

.partners_wrapper {
    padding-bottom: 65px;
}

.one_partner .blog_title_post {
    text-align: left;
    padding: 15px;
    padding-left: 0;
    padding-bottom: 5px;
    padding-top: 0;
    display: flex;
    align-items: center;
}
/*.one_partner a{*/
    /*text-decoration: none;*/
/*}*/
.archive_posts_wrapper a{
    text-decoration: none;
}

.one_partner .blog_image_post {
    height: 145px;
}
.qtranxs-available-languages-message{
    display: none;
}

.read_more_partner {
    position: absolute;
    right: 15px;
    bottom: 15px;
    text-decoration: none;
    color: rgb(0, 67, 79);
    font-size: 18px;
    text-transform: uppercase;
}

.read_more_partner:hover {
    text-decoration: none;
    color: rgb(0, 67, 79);
}

.one_partner .blog_content_post {
    text-align: justify;
}

.text_dec_none {
    text-decoration: none;
}

.text_dec_none:hover {
    text-decoration: none;
}
.header_mobile{
    display: none;
}
.mob_menu_content{
    height: 0;
    transition: .5s;
}
.mob_menu_content.active{
    height: 250px;
}
.footer_mobile{
    display: none;
}
.mob_logo{
    text-align: center;
    margin-top: 25px;
}
.header_mobile .logo_wrap{
    display: block;
}
.header_mobile .logo_wrap .logo_text{
    text-align: center;
    font-weight: bold;
    font-size: 34px;
    margin-left: 0;
}
.header_mobile .contacts_top_wrap a{
    display: block;
    text-align: center;
    font-family: "Calibri";
    color: rgb(0, 67, 79);
    font-size: 24px;
}
.header_mobile .contacts_top_wrap .mail a{
    display: block;
    text-align: center;
    font-family: "Calibri";
    color: rgb(0, 67, 79);
    font-size: 21px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 25px;
}
.header_mobile .contacts_top_wrap .mail a img{
    margin-right: 15px;
}
.header_mobile .tel a{
    position: relative;
}
.header_mobile .tel{
    position: relative;
}

@media only screen and (max-width: 1200px) {
    header .contacts_top_wrap .tel i.fa-phone{
        left: 5%;
    }
}

@media only screen and (max-width: 991px) {
    header{
        display: none;
    }
    .header_mobile{
        display: block;
    }
    #content{
        padding: 0;
    }
    .mob_header_top a{
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 20px;
        display: inline-block;
    }
    .mob_menu_content a{
        display: block;
        color: #fff;
        text-align: left;
        padding: 10px;
        border-bottom: 1px solid #fff;
    }
    .mob_lang_switcher ul{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .mob_lang_switcher ul li{
        display: inline-block;
        margin: 0 15px
    }
    .mob_lang_switcher ul li a{
        border-bottom: 0;
        font-size: 14px;
    }
    footer{
        display: none;
    }
    .footer_mobile{
        display: block;
    }
    .copyright{
        font-size: 12px;
    }
    .top_footer_mob_links{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .top_footer_mob_links a{
        display: inline-block;
        color: #fff;
        text-transform: uppercase;
        padding: 20px 35px;
    }
    .footer-address{
        text-align: center;
    }
    .social_links{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .footer_mob_mail{
        text-align: center;
        margin-bottom: 25px;
    }
    .footer_mob_mail a{
        color: #fff;
        font-size: 18px;
    }
    .no_padding_for_mobile{
        padding: 0;
    }
    .mob_menu_content a{
        font-size: 18px;
        padding-left: 20px;
    }

    .header_mobile .tel .fa-phone{
        position: absolute;
        left: 32%;
        top: 22%;
        color: #24828a;
        font-size: 30px;
    }
    .mob_lang_switcher a{
        padding-left: 0;
    }

    #content .main_content_wrapper{
        box-shadow: none;
        border-left: none;
        border-right: none;
    }
    .fagsfacf-gallery-slider button.slick-arrow, .fagsfacf-gallery-carousel button.slick-arrow{
        display: none !important;
    }
    .one_new_wrap .col-md-4{
        padding: 0 50px 20px 50px;
    }
    .post_home .col-md-6:first-child .one_new_wrap{
        border-bottom: none;
    }
    .one_new_date{
        text-align: center;
    }
    .one_new_wrap .left_padding_one_new{
        padding: 25px;
        text-align: center;
        padding-top: 0;
    }
    .one_new_wrap{
        padding-bottom: 0;
    }
    .post_home .col-md-6:first-child .one_new_wrap{
        padding-bottom: 0;
    }
    .one_new_wrap .left_padding_one_new{
        padding-bottom: 0;
    }
    .footer_mobile_margin{
        margin-top: 35px;
    }
    .content_privacy_policy{
        text-align: justify;
    }
    .contakts_info_wrap{
        display: block;
    }
    .contakt_margin_left_right{
        margin-left: 0;
        margin-right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contakt_margin_left_right .image{
        left: 135px;
    }
    .archive_navigation_wrapper li{
        text-align: center;
    }
    .title_blog{
        padding: 20px 10px;
        font-size: 24px;
    }
    .single-content{
        text-align: justify;
    }
    .one_partner .blog_image_post{
        height: 50px;
    }
    .one_partner{
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .one_partner a{
        display: block;
    }
    .archive_navigation_wrapper{
        margin-bottom: 35px;
    }


}

@media only screen and (max-width: 768px) {
    /*.header_mobile .tel .fa-phone{*/
        /*left: 100px;*/
    /*}*/
}

@media only screen and (max-width: 640px) {
    .header_mobile .tel .fa-phone{
        left: 15%;
    }
    .contakt_margin_left_right .image{
        left: 0;
    }
    .single-post-img{
        margin: 0;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 414px) {
    .header_mobile .tel .fa-phone{
        left: 10%;
    }
    .mob_header_top a{
        padding: 10px;
    }
    .mob_header_top a:first-child{
        padding-left: 20px;
    }
}


/*Burger*/
.inline_wrap{
    text-align: right;
    position: absolute;
    right: 10px;
    top: 7px;
    z-index: 9999;
}
* {
    margin: 0;
    padding: 0;
}

/* Icon 1 */

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
    width: 50px;
    height: 25px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: inline-block;
    zoom: 0.5;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 18px;
}

#nav-icon1 span:nth-child(3) {
    top: 36px;
}

#nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/* Icon 2 */

#nav-icon2 {
}

#nav-icon2 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 50%;
    background: #d3531a;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
    left:0px;
    border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
    top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
    top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
    top: 36px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
    left: 5px;
    top: 7px;
}

#nav-icon2.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
}

#nav-icon2.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
    left: 5px;
    top: 29px;
}

#nav-icon2.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 18px;
}

#nav-icon3 span:nth-child(4) {
    top: 36px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

/* Icon 4 */

#nav-icon4 {
}

#nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
    top: 36px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
}







